src/__pycache__/*.pyc
data/.DS_Store
src/.DS_Store
.DS_Store

src/test/Total_Phosphorus_mixed_forms_obs_9_15.csv

examples/q_c_pair_comparison.csv
examplesq_c_pair_comparison2.csv
examples/table.csv

data/Hydat.sqlite3/Hydat.sqlite3
Hydat.sqlite3.zip
Provincial_Water_Quality_Monitoring_Network_PWQMN_cleaned.csv.zip
data/PWQMN_cleaned/Provincial_Water_Quality_Monitoring_Network_PWQMN_cleaned.csv
data/Hydat/Hydat.sqlite3
data/PWQMN_cleaned/PWQMN.sqlite3
data/Hydro_RIVERS_v10/HydroRIVERS_v10.shx
data/Hydro_RIVERS_v10/HydroRIVERS_v10.shp.xml
data/Hydro_RIVERS_v10/HydroRIVERS_v10.shp.BASU2017-3.18396.11260.sr.lock
data/Hydro_RIVERS_v10/HydroRIVERS_v10.shp.BASU2017-3.18324.11260.sr.lock
data/Hydro_RIVERS_v10/HydroRIVERS_v10.shp.BASU2017-3.16464.11260.sr.lock
data/Hydro_RIVERS_v10/HydroRIVERS_v10.shp.BASU2017-3.12828.11260.sr.lock
data/Hydro_RIVERS_v10/HydroRIVERS_v10.shp
data/Hydro_RIVERS_v10/HydroRIVERS_v10.sbx
data/Hydro_RIVERS_v10/HydroRIVERS_v10.sbn
data/Hydro_RIVERS_v10/HydroRIVERS_v10.prj
data/Hydro_RIVERS_v10/HydroRIVERS_v10.dbf
data/Hydro_RIVERS_v10/HydroRIVERS_v10.cpg
data/Hydro_RIVERS_v10/HydroRIVERS_v10_na.dbf
data/Hydro_RIVERS_v10/HydroRIVERS_v10_na.prj
data/Hydro_RIVERS_v10/HydroRIVERS_v10_na.sbn
data/Hydro_RIVERS_v10/HydroRIVERS_v10_na.sbx
data/Hydro_RIVERS_v10/HydroRIVERS_v10_na.shp
data/Hydro_RIVERS_v10/HydroRIVERS_v10_na.shx
data/HydroRIVERS_TechDoc_v10.pdf
data/Hydro_RIVERS_v10/HydroRIVERS_v10_na.shp.BASU2017-3.12424.16688.sr.lock
data/Hydro_RIVERS_v10/HydroRIVERS_v10_na.shp.BASU2017-3.12424.rd.lock
data/Hydro_RIVERS_v10/HydroRIVERS_v10_na.shp.BASU2017-3.15088.16688.sr.lock
data/Hydro_RIVERS_v10/HydroRIVERS_v10_na.shp.BASU2017-3.5368.16688.sr.lock
data/Hydro_RIVERS_v10/HydroRIVERS_v10_na.shp.BASU2017-3.8924.16688.sr.lock
data/OHN/Ontario_Hydro_Network_(OHN)_-_Watercourse.cpg
data/OHN/Ontario_Hydro_Network_(OHN)_-_Watercourse.dbf
data/OHN/Ontario_Hydro_Network_(OHN)_-_Watercourse.prj
data/OHN/Ontario_Hydro_Network_(OHN)_-_Watercourse.shp
data/OHN/Ontario_Hydro_Network_(OHN)_-_Watercourse.shx
data/OHN/Ontario_Hydro_Network_(OHN)_-_Watercourse.xml
data/table.csv
data/OHN/Ontario_Hydro_Network_(OHN)_-_Watercourse.shp.BASU2017-3.12568.3128.sr.lock
data/OHN/Ontario_Hydro_Network_(OHN)_-_Watercourse.shp.BASU2017-3.16352.3128.sr.lock
data/OHN/Ontario_Hydro_Network_(OHN)_-_Watercourse.shp.BASU2017-3.16828.3128.sr.lock
data/OHN/Ontario_Hydro_Network_(OHN)_-_Watercourse.shp.BASU2017-3.16868.3128.sr.lock
data/OHN/Ontario_Hydro_Network_(OHN)_-_Watercourse.shp.BASU2017-3.8716.3128.sr.lock
data/OHN/Ontario_Hydro_Network_(OHN)_-_Watercourse.shp.wr.lock
data/OHN/Ontario_Hydro_Network_(OHN)_-_Watercourse.shp.xml
*.lock
*.cpg
*.dbf
*.shp
*.prj
*.shx
data/n40w090_dem.tif
data/HydroSHEDS_TechDoc_v1_4.pdf
data/shapefiles/hydat.shp.xml
data/shapefiles/pwqmn.shp.xml
data/Hydat/DLY_FLOWS.csv
data/Hydat/STN_REMARKS.csv
data/Hydat/STN_REMARKS.csv.xml
*.bak
*.bak
*.bak
src/load_data.py.bak
src/test_cases.py.bak
src/load_data.py.bak
*.bak
src/test_cases.py.bak
src/test_cases.py.bak
src/subset.sqlite3
src/psubset.csv
data/nov-09-subsets/Hydat_sqlite3.csv
*.sbn
*.sbx
*.xml
*.geojson
*.ini
dist_by_delta_drainage.csv
*.json
*.zip
src/datastream/Total Phosphorus, mixed forms_observations.csv
src/datastream/Total Phosphorus, mixed forms_full_data_range.csv
src/datastream/Total Phosphorus, mixed forms_duplicates.csv
src/datastream/Total Nitrogen, mixed forms_observations.csv
src/datastream/Total Nitrogen, mixed forms_full_data_range.csv
src/datastream/Total Nitrogen, mixed forms_duplicates.csv
src/datastream/Soluble Reactive Phosphorus (SRP)_observations.csv
src/datastream/Soluble Reactive Phosphorus (SRP)_full_data_range.csv
src/datastream/Soluble Reactive Phosphorus (SRP)_duplicates.csv
src/datastream/Phosphorus, hydrolyzable_observations.csv
src/datastream/Phosphorus, hydrolyzable_full_data_range.csv
src/datastream/Phosphorus, hydrolyzable_duplicates.csv
src/datastream/Orthophosphate_observations.csv
src/datastream/Orthophosphate_full_data_range.csv
src/datastream/Orthophosphate_duplicates.csv
src/datastream/Organic phosphorus_observations.csv
src/datastream/Organic phosphorus_full_data_range.csv
src/datastream/Organic phosphorus_duplicates.csv
src/datastream/Organic Nitrogen_observations.csv
src/datastream/Organic Nitrogen_full_data_range.csv
src/datastream/Organic Nitrogen_duplicates.csv
src/datastream/Nitrate_observations.csv
src/datastream/Nitrate_full_data_range.csv
src/datastream/Nitrate_duplicates.csv
src/datastream/Inorganic nitrogen (nitrate and nitrite)_observations.csv
src/datastream/Inorganic nitrogen (nitrate and nitrite)_full_data_range.csv
src/datastream/Inorganic nitrogen (nitrate and nitrite)_duplicates.csv
src/datastream/Inorganic nitrogen (ammonia, nitrate and nitrite)_observations.csv
src/datastream/Inorganic nitrogen (ammonia, nitrate and nitrite)_full_data_range.csv
src/datastream/Inorganic nitrogen (ammonia, nitrate and nitrite)_duplicates.csv
src/datastream/Total Phosphorus, mixed forms_full_data_range.csv
src/datastream/Total Phosphorus, mixed forms_duplicates.csv
src/datastream/Total Nitrogen, mixed forms_full_data_range.csv
src/datastream/Total Nitrogen, mixed forms_duplicates.csv
src/datastream/Soluble Reactive Phosphorus (SRP)_full_data_range.csv
src/datastream/Soluble Reactive Phosphorus (SRP)_duplicates.csv
src/datastream/Phosphorus, hydrolyzable_full_data_range.csv
src/datastream/Phosphorus, hydrolyzable_duplicates.csv
src/datastream/Orthophosphate_full_data_range.csv
src/datastream/Orthophosphate_duplicates.csv
src/datastream/Organic phosphorus_full_data_range.csv
src/datastream/Organic phosphorus_duplicates.csv
src/datastream/Organic Nitrogen_full_data_range.csv
src/datastream/Organic Nitrogen_duplicates.csv
src/datastream/Nitrate_full_data_range.csv
src/datastream/Nitrate_duplicates.csv
src/datastream/Inorganic nitrogen (nitrate and nitrite)_full_data_range.csv
src/datastream/Inorganic nitrogen (nitrate and nitrite)_duplicates.csv
src/datastream/Inorganic nitrogen (ammonia, nitrate and nitrite)_full_data_range.csv
src/datastream/Inorganic nitrogen (ammonia, nitrate and nitrite)_duplicates.csv
src/datastream/Total Phosphorus, mixed forms_full_data_range.csv
src/datastream/Total Phosphorus, mixed forms_duplicates.csv
src/datastream/Total Nitrogen, mixed forms_full_data_range.csv
src/datastream/Total Nitrogen, mixed forms_duplicates.csv
src/datastream/Soluble Reactive Phosphorus (SRP)_full_data_range.csv
src/datastream/Soluble Reactive Phosphorus (SRP)_duplicates.csv
src/datastream/Phosphorus, hydrolyzable_full_data_range.csv
src/datastream/Phosphorus, hydrolyzable_duplicates.csv
src/datastream/Orthophosphate_full_data_range.csv
src/datastream/Orthophosphate_duplicates.csv
src/datastream/Organic phosphorus_full_data_range.csv
src/datastream/Organic phosphorus_duplicates.csv
src/datastream/Organic Nitrogen_full_data_range.csv
src/datastream/Organic Nitrogen_duplicates.csv
src/datastream/Nitrate_full_data_range.csv
src/datastream/Nitrate_duplicates.csv
src/datastream/Inorganic nitrogen (nitrate and nitrite)_full_data_range.csv
src/datastream/Inorganic nitrogen (nitrate and nitrite)_duplicates.csv
*.pptx
src/test/table.csv
examples/q_c_pair_comparison.csv
examples/q_c_pair_comparison2.csv
examples/table.csv
